---
import Layout from '../layouts/Layout.astro';
import CalculadoraSelector from '../shared/components/CalculadoraSelector';
import Footer from '../layouts/components/Footer';
import { PAGE_METADATA } from '../config/seo';

const { home: pageMetadata } = PAGE_METADATA;
---

<Layout
    title={pageMetadata.title}
    description={pageMetadata.description}
>
    <main class="flex-1 flex flex-col">
        <div class="flex-1 pt-8">
            <CalculadoraSelector client:load />
        </div>
        <Footer client:load />
    </main>
</Layout>