---
import Layout from '../layouts/Layout.astro';
import CalculadoraIVA from '../components/calculadoras/iva/CalculadoraIVA';
import Footer from '../components/shared/Footer';
import { PAGE_METADATA } from '../constants/seo';

const { iva: pageMetadata } = PAGE_METADATA;
---

<Layout
    title={pageMetadata.title}
    description={pageMetadata.description}
>
    <main class="min-h-screen bg-slate-950">
        <div class="pt-8">  <!-- cambiado a pt-8 (32px) -->
            <CalculadoraIVA client:load />
        </div>
        <Footer client:load />
    </main>
</Layout>