---
import Layout from '../layouts/Layout.astro';
import NavigationMenu from '../components/shared/NavigationMenu';
import Footer from '../components/shared/Footer';
import PoliticaPrivacidad from '../components/PoliticaPrivacidad';
import { PAGE_METADATA } from '../constants/seo';
import ShareButtons from '../components/shared/ShareButtons';

const { privacyPolicy: pageMetadata } = PAGE_METADATA;
---

<Layout
    title={pageMetadata.title}
    description={pageMetadata.description}
>
    <div class="min-h-screen bg-slate-900 text-gray-300 flex flex-col">
        <NavigationMenu client:load />
        <main class="container mx-auto px-4 py-12 max-w-4xl flex-grow">
            <PoliticaPrivacidad client:load />
        </main>
        <ShareButtons client:load />
        <Footer client:load />
    </div>
</Layout>